header {
  background: #0d99ff;
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-register-button {
  background-color: white;
  color: #0d99ff;
}

.wrapper-fill-todo {
  background: #ffffff;
  border-radius: 10px;
  width: 1114px;
  box-shadow: 0px 13px 50px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 58px 40px;
  margin-top: 150px;
}

.headline-fill-todo {
  display: flex;
  align-items: center;
  gap: 10px;
}

h5 {
  padding: 0;
  margin: 0;
  font: 500 16px/150% "Lato", sans-serif;
  color: #363636;
}

.search-todo {
  background: #f5f6f6;
  border-radius: 50px;
  padding: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 1034px;
  backdrop-filter: blur(5px);
}

input {
  background-color: transparent;
  width: 1000px;
  border: none;
  font: 500 14px/150% "Lato", sans-serif;
  color: #797575;
}

h1 {
  color: #363636;
  text-align: center;
  font: 700 36px/140% "Lato", sans-serif;
}

p {
  color: #363636;
  text-align: center;
  font: 400 16px/140% "Lato", sans-serif;
}

.heading {
  margin-top: 70px;
}

.text-feature {
  color: #363636;
  font: 400 20px/140% "Lato", sans-serif;
}

.card-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  width: 232px;
  height: 232px;
}

.wrapper-destinasi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.wrapper-destinasi-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.location-card {
  position: relative;
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image img {
  width: 310px;
  height: 250px;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 50px);
  text-align: center;
}

.title {
  color: white;
  font: 700 30px/140% "Lato", sans-serif;
}

.paragraf {
  color: #ffffff;
  font: 400 20px/140% "Lato", sans-serif;
}

.hero-headline {
  display: none;
}

.feature-list {
  display: none;
}

.headline-tablet {
  display: none;
}

.heading-section {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  .wrapper-fill-todo {
    display: none;
  }

  .content-hero {
    width: auto;
  }

  .hero-headline {
    display: block;
    width: 575px;
  }

  .section-feature {
    display: none;
  }

  .headline-tablet {
    color: #333333;
    font: 700 36px "Lato", sans-serif;
    margin-top: 50px;
  }
  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 30px;
  }

  .col-feature {
    width: 110px;
    height: 110px;
  }

  .row-feature {
    display: flex;
    gap: 45px;
  }

  .heading {
    display: none;
  }
  .headline-tablet {
    display: block;
  }
  .heading-section {
    display: flex !important;
  }
  .wrapper-destinasi-2 {
    display: none;
  }

  .wrapper-destinasi {
    display: flex;
    margin-top: 30px;
    overflow-x: scroll;
  }
  .wrapper-destinasi::-webkit-scrollbar {
    width: 0;
  }
  .wrapper-tablet {
    margin: 0;
    padding: 0;
  }
}

/* Phone start */
@media only screen and (max-width: 700px) {
  .hero-user-fill-content,
  .links-conteiner-1,
  .links-conteiner-2 {
    display: none;
  }

  header {
    height: 350px;
  }
  .content-hero {
    width: auto;
  }

  .headline-tablet {
    font: 700 16px/140% "Lato", sans-serif;
  }

  .hero-headline {
    color: #ffffff;
    text-align: center;
    font: 700 16px/150% "Lato", sans-serif;
    width: 353px;
    margin-top: 62px;
  }

  .row-feature {
    gap: 28px;
  }

  .col-feature {
    width: 73px;
    height: 73px;
  }

  .col-feature img {
    width: 40px;
    height: 40px;
  }

  .col-feature p {
    font: 400 12px/140% "Lato", sans-serif;
  }

  .wrapper-destinasi {
    gap: 10px;
  }

  a .image img {
    width: 116px;
    height: 116px;
  }

  a .content .title {
    font: 700 15px/140% "Lato", sans-serif;
  }

  a .content .paragraf {
    font: 400 10px/140% "Lato", sans-serif;
  }
  .heading-journey {
    margin-top: 30px;
  }
}

/* Phone end */
